#root {
  margin: 0 auto;
  background-color: antiquewhite;

}

.grid-container1{
  display: grid;
  grid-template-areas:
    'he'
    'na'
    'ba'
    'tot'
    'fo';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 3fr 3fr 2fr;
  row-gap: 20px;
  border: 3px solid yellow;
}

@media(min-width:870px){
  .grid-container1{
    grid-template-areas:
      'he he'
      'na na'
      'ba tot'
      'fo fo';
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 7fr 2fr;
    row-gap: 20px;
  }
}
@media(min-width:1000px){
  .grid-container1{
    grid-template-areas:
      'he he he he'
      'na na na na'
      '. ba tot .'
      'fo fo fo fo';
    grid-template-columns: 0.2fr 2fr 2fr 0.2fr;
    grid-template-rows: 1fr 1fr 7fr 1fr;
    row-gap: 20px;
  }
}

.grid-header{
  grid-area: he;
  background-color: red;
}

.grid-nav{
  grid-area: na;
  background-color: blue;
}

.grid-basket{
  grid-area: ba;
  background-color: green;
}

.grid-total{
  grid-area: tot;
  background-color: orange;
}

.grid-footer{
  grid-area: fo;
  background-color: pink;
}
