#root {
  margin: 0 auto;
  background-color: #f2f2f2;

}

.App {
   background-color: #f2f2f2;
}
.autocomplete {
  max-width: 100%;
  position: relative;
}

.options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.options li {
  padding: 5px;
  cursor: pointer;
}

.options li:hover {
  background-color: #f2f2f2;
}

input[type="text"] {
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
  padding: 10px 30px 10px 10px; /* Add space for the dropdown arrow and the options list */
  border: 1px solid #ccc;
}

input[type="text"]::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.grid-container1{
  display: grid;
  grid-template-areas:
    'he'
    'na'
    'ba'
    'tot'
    'fo';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 3fr 3fr 2fr;
  row-gap: 20px;
  border: 3px solid #f2f2f2;
}

@media(min-width:870px){
  .grid-container1{
    grid-template-areas:
      'he he'
      'na na'
      'ba tot'
      'fo fo';
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 7fr 2fr;
    row-gap: 20px;
  }
}
@media(min-width:1000px){
  .grid-container1{
    grid-template-areas:
      'he he he he'
      'na na na na'
      '. ba tot .'
      'fo fo fo fo';
    grid-template-columns: 0.2fr 2fr 2fr 0.2fr;
    grid-template-rows: 1fr 1fr 7fr 1fr;
    row-gap: 20px;
  }
}

.grid-header{
  grid-area: he;
  background-color: rgb(120, 135, 170);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.grid-nav{
  grid-area: na;
  background-color: #f2f2f2;
  align-items: center;
}

.grid-basket{
  grid-area: ba;
  background-color: #dad6d6;
  margin-right: 20px;
}

.grid-total{
  grid-area: tot;
  background-color: #f2f2f2;
  text-align: center;
  height: 600px;
}

button.checkout{
  position: absolute;
  right: 70px;
  margin-top: 60px;
  background-color: black;
  color: white;
  border-radius: 0;
  height: 50px;
  width: 150px;
}

div.discountCode{
  margin-top: 180px;
}

label {
  position: relative;
}

label,
input{
  padding-left: 30px;
}
input{
  background-color: #dad6d6;
  border-color: #bebdbd;
  border: 0px;
  height:30px;
  width: 100%;
}

label:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}

button.discountCode{
  position: relative;
  margin-left: 30px;
  text-align: center;
  margin-top: 10px;
  background-color: #bebdbd;
  color:black;
  border-radius: 0;
  height: 40px;
  width: 150px;
}

button p {
  font-size: 14px;
  text-align: center;
}




.grid-footer{
  grid-area: fo;
  background-color: #e3e3e3;
}

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}


* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


.container {
  margin-top: 15px;
  text-align: center;
}

.progress-container::before {
  content: "";
  background: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  margin-left: 200px;
  max-width: 100%;
  width: 350px;
}

.progress {
  background: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background: #fff;
  color: #999;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: .4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  border: 0;
  border-radius: 6px;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

.close-button {
  width: 15px;
  height: 15px;
  font-size: 15px;
  border: none;
  background: transparent;
  cursor: pointer;
  position:relative;
  left: 300px;
  top: 25px;
}
.product-wrapper {
  display: flex;
  align-items: center;
}

.product-info {
  margin-left: 0;
}
#basket ul {
  list-style: none;
  position: relative;
}
ul li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
}
li:last-child {
  border-bottom: none;
}
ul li select {
  flex: 0 0 50px;
  max-height: 100px;
  overflow-y: auto;
}
ul li label {
  flex: 1;
  margin-right: 10px;
}

.grid-container1 > section{
  padding: 1em;
  margin-bottom: 10px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  position:relative;
}

img {
  width: 100px;
  margin-right: 20px;
}
