#root {
  margin: 0 auto;
  background-color: #f2f2f2;

}

.App {
   background-color: #f2f2f2;
}

.grid-container1{
  display: grid;
  grid-template-areas:
    'he'
    'na'
    'ba'
    'tot'
    'fo';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 3fr 3fr 2fr;
  row-gap: 20px;
  border: 3px solid #f2f2f2;
}

@media(min-width:870px){
  .grid-container1{
    grid-template-areas:
      'he he'
      'na na'
      'ba tot'
      'fo fo';
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 7fr 2fr;
    row-gap: 20px;
  }
}
@media(min-width:1000px){
  .grid-container1{
    grid-template-areas:
      'he he he he'
      'na na na na'
      '. ba tot .'
      'fo fo fo fo';
    grid-template-columns: 0.2fr 2fr 2fr 0.2fr;
    grid-template-rows: 1fr 1fr 7fr 1fr;
    row-gap: 20px;
  }
}

.grid-header{
  grid-area: he;
  background-color: rgb(120, 135, 170);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.grid-nav{
  grid-area: na;
  background-color: #f2f2f2;
  align-items: center;
}

.grid-basket{
  grid-area: ba;
  background-color: #dad6d6;
  text-align: center;
  height: 600px;
  width: 800px;

  margin-right: 20px;
  margin-left: auto;
}

.grid-total{
  grid-area: tot;
  background-color: #f2f2f2;
  text-align: center;
  height: 600px;
  width: flex;

  margin: 20px;
}

button.checkout{
  position: absolute;
  right: 70px;
  margin-top: 60px;
  background-color: black;
  color: white;
  border-radius: 0;
  height: 50px;
  width: 150px;
}

div.discountCode{
  margin-top: 180px;
}

label {
  position: relative;
}

label,
input{
  padding-left: 30px;
}
input{
  background-color: #dad6d6;
  border-color: #bebdbd;
  border: 0px;
  height:30px;
  width: 100%;
  padding: auto;
}

label:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}

button.discountCode{
  position: relative;
  margin-left: 30px;
  text-align: center;
  margin-top: 10px;
  background-color: #bebdbd;
  color:black;
  border-radius: 0;
  height: 40px;
  width: 150px;
}

button p {
  font-size: 14px;
  text-align: center;
}




.grid-footer{
  grid-area: fo;
  background-color: #e3e3e3;
}
